<form class="bg-white px-4 pt-5 pb-4 sm:py-6 sm:px-4 sm:pb-4" autocomplete="ÑÖcompletes" [formGroup]="forma"
  autocomplete="ÑÖcompletes" (ngSubmit)="guardar()">

  <div class="sm:flex sm:items-start pb-4">

    <div class="mt-3 text-center pt-4 ">
      <div class="mt-3 text-center sm:mt-0  sm:text-left">
        <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-headline">

          <span> Editar usuario </span>
        </h3>
        <div class="mt-2">
          <p class="text-sm leading-5 text-gray-500">
            Modificar los detalles del usuario
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-3 ">
    <div class="pr-4 pl-4 sm:pl-0 pb-4">
      <div class="flex-shrink-0 xs:h-40 h-56 w-full relative">
        <img *ngIf="!imagenTemp" class="xs:h-40 w-full h-56 rounded-lg object-cover shadow-md"
          [src]="usuario?.img | imagen" [alt]="usuario?.img">
        <img *ngIf="imagenTemp" [src]="imagenTemp" class="xs:h-40 w-56 h-56 rounded-lg object-cover shadow-md">
        <button type="button" (click)="subirImagen()"
          class="p-2 rounded-full shadow-md absolute bg-indigo-600 text-white bottom-0 right-0 -mb-1 sm:-mb-4 -mr-2 focus:outline-none">
          <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M4 5a2 2 0 00-2 2v8a2 2 0 002 2h12a2 2 0 002-2V7a2 2 0 00-2-2h-1.586a1 1 0 01-.707-.293l-1.121-1.121A2 2 0 0011.172 3H8.828a2 2 0 00-1.414.586L6.293 4.707A1 1 0 015.586 5H4zm6 9a3 3 0 100-6 3 3 0 000 6z"
              clip-rule="evenodd"></path>
          </svg>
        </button>
      </div>
    </div>
    <div class="grid col-span-2 grid-cols-2 gap-2 px-4 ">
      <mat-form-field appearance="outline" class="col-span-2">
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Ej. Casa bonita en el centro de la ciudad" formControlName="nombre" name='nombre'
          cdkFocusInitial>
        <mat-error *ngIf="forma.get('nombre').hasError('required')">Por favor ingrese el nombre</mat-error>

      </mat-form-field>
      <mat-form-field appearance="outline" class="col-span-2">
        <mat-label>email</mat-label>
        <input matInput formControlName="email" name='email'>
        <mat-error *ngIf="forma.get('email').hasError('required')">Por favor ingrese su correo</mat-error>
        <mat-error *ngIf="forma.get('email').hasError('email')">mmm este correo parece estar incorrecto</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-span-2 sm:col-span-1"
        *ngIf="usuario?._id !== _usuarioService.usuario._id">
        <mat-label>role</mat-label>
        <mat-select matNativeControl formControlName="role" name='role'>
          <mat-option value="ADMIN_ROLE">ADMIN_ROLE</mat-option>
          <mat-option value="USER_ROLE">USER_ROLE</mat-option>

        </mat-select>
        <!-- <input matInput formControlName="role" name='role'> -->
      </mat-form-field>
    </div>
  </div>


  <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
    <span class="flex w-full rounded-md shadow-sm sm:ml-3 sm:w-auto">
      <button type="submit"
        class="inline-flex justify-center w-full rounded-md border border-transparent px-4 py-2 bg-indigo-600 text-base leading-6 font-medium text-white shadow-sm hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo transition ease-in-out duration-150 sm:text-sm sm:leading-5">
        Guardar
      </button>
    </span>
    <span class="mt-3 flex w-full rounded-md shadow-sm sm:mt-0 sm:w-auto  sm:ml-3">
      <button type="button" (click)="ocultar()"
        class="inline-flex justify-center w-full rounded-md border border-gray-300 px-4 py-2 bg-white text-base leading-6 font-medium text-gray-700 shadow-sm hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue transition ease-in-out duration-150 sm:text-sm sm:leading-5">
        Cancel
      </button>
    </span>
    <span class="mt-3 flex w-full rounded-md shadow-sm sm:mt-0 sm:w-auto"
      *ngIf="usuario?._id !== _usuarioService.usuario._id">
      <button type="button" (click)="borrarUsuario(usuario)"
        class="inline-flex justify-center w-full rounded-md border border-gray-300 px-4 py-2 bg-white text-base leading-6 font-medium text-gray-700 shadow-sm hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue transition ease-in-out duration-150 sm:text-sm sm:leading-5">
        Borrar
      </button>
    </span>
  </div>
</form>
